html { 
  background: url(https://gdurl.com/YKgh);
  background-repeat: no-repeat;
  background-size: cover;
  font-size:110%;
 }
 @media(min-width:60em){html{font-size: 90%}}
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.navbar a {
  float: right;
  display: block;
  color: rgba(70,111,181,1.0);
  justify-content: center;
  align-content: center;
  text-align: center;
  /* padding: 1px 3px; */
  margin: 2vw;
  text-decoration: none;
  font-size: 19px;
  font-size: 3.2vw;
}

.navbar img {
  /* display: inline-block; */
  margin: 2vw;
}

.main {
  margin: 5;
  padding: 16px;
  margin-top: 120px;
  height: 1500px;
}

.footer {
    background-color: rgba(255,255,255,0.5);
    flex-direction: row;
    width: 100%;
    margin-bottom: 45;
}

.footer p {
    color: rgba(70,111,181,1.0);
    text-align: center;
    font-size: 3.1vw;
}