html { background: rgba(70,111,181,1.0); }
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 120px;
  height: 1500px;
}

.footer {
    background-color: rgba(255,255,255,0.5);
    display: table;
    flex: 1;
    width: 100%;
    margin-bottom: 45;
}

.footer p {
    color: rgba(70,111,181,1.0);
    text-align: center
}